.home {
  @extend %flex-center;
  background-image: url(../../images/main-image.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 87vh;
}

.nav {
  display: flex;
  align-items: center;

  .searchBar {
    width: 200px;
    // justify-content: center;
  }

  .containerNavBar {
    display: flex;
  }

  .navList {
    margin: 10px;
  }

  input {
    border: 2px solid grey;
    border-radius: 7px;
    color: grey;
  }
}

.logo {
  margin-top: 10px;
  width: 180px;
}

.footer {
  color: grey;
  text-align: center;
  font-size: 12px;
  margin: 5px;
}