.home {
  @extend %flex-center;
  background-color: $bg;
  height: 85vh;

  .hero {
    text-align: center;
    border-radius: 8px;
  }
}

.logo {
  margin-top: 10px;
  width: 50px;

  img {
    width: 200px;
  }
}