body {
  font-family: 'Lexend', sans-serif;
}

#title {
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: $text;
}

// .spinner {
//   img {
//     width: 30px;
//   }
// }